// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color: $white;
  color: $secondary;
  font-family: "Gotham", sans-serif;
  overflow: hidden;
  @include bodyText(3);
  // @include mq("tablet") {
  //   cursor: none;
  // }
}
.is-transitioning {
  pointer-events: none;
  cursor: progress;
  .cursor,
  .cursor-follower {
    display: none;
  }
}
body {
  &.mobile {
    .cursor,
    .cursor-follower {
      display: none !important;
    }
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

a,
button,
.btn {
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

img {
  max-width: 100%;
  image-rendering: -webkit-optimize-contrast;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

scroll {
  width: 100vw;
  max-height: 100vh;
  height: -webkit-fill-available;
}

main {
  max-width: 100vw;
  padding-top: 100px;
  overflow-x: hidden;
  @include mq("desktop-ultra") {
    padding-top: 135px;
  }
}
hr {
  border-bottom: 0;
}
