// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if ($type == min) {
      $width: $width + 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}
@mixin orientation($direction) {
  $orientation-landscape: "(orientation:landscape)";
  $orientation-portrait: "(orientation:portrait)";

  @if $direction == landscape {
    @media #{$orientation-landscape} {
      @content;
    }
  }
  @if $direction == portrait {
    @media #{$orientation-portrait} {
      @content;
    }
  }
}

// Typography mixins
@mixin heading1() {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  @include mq("tablet") {
    font-size: 42px;
    line-height: 50px;
  }
  @include mq("desktop") {
    font-size: 60px;
    line-height: 80px;
  }
  @include mq("desktop-ultra") {
    font-size: 72px;
    line-height: 98px;
  }
}
@mixin heading2() {
  font-size: 32px;
  line-height: 50px;
  font-weight: 400;
  @include mq("tablet") {
    font-size: 42px;
    line-height: 60px;
  }
  @include mq("desktop") {
    font-size: 60px;
    line-height: 80px;
  }
  @include mq("desktop-ultra") {
    font-size: 72px;
    line-height: 98px;
  }
}
@mixin heading3() {
  font-size: 25px;
  font-weight: 700;
  line-height: 35px;
  @include mq("tablet") {
    font-size: 32px;
    line-height: 40px;
  }
  @include mq("desktop") {
    font-size: 44px;
    line-height: 60px;
  }
  @include mq("desktop-ultra") {
    font-size: 60px;
    line-height: 81px;
  }
}
@mixin heading4() {
  font-size: 25px;
  font-weight: 400;
  line-height: 35px;
  @include mq("tablet") {
    font-size: 32px;
    line-height: 40px;
  }
  @include mq("desktop") {
    font-size: 44px;
    line-height: 60px;
  }
  @include mq("desktop-ultra") {
    font-size: 60px;
    line-height: 81px;
  }
}
@mixin heading5() {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0;
  @include mq("tablet") {
    font-size: 28px;
    line-height: 50px;
  }
  @include mq("desktop") {
    font-size: 36px;
    line-height: 60px;
  }
  @include mq("desktop-ultra") {
    font-size: 44px;
    line-height: 66px;
  }
}
@mixin heading6() {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  @include mq("tablet") {
    font-size: 42px;
    line-height: 50px;
  }
  @include mq("tablet") {
    font-size: 28px;
    line-height: 36px;
  }
  @include mq("desktop") {
    font-size: 36px;
    line-height: 44px;
  }
  @include mq("desktop-ultra") {
    font-size: 44px;
    line-height: 66px;
  }
}
@mixin bodyText($size: 3) {
  font-size: 16px;
  line-height: 25px;
  font-weight: 700;
  letter-spacing: 0;
  @include mq("tablet") {
    font-size: 20px;
    line-height: 32px;
  }
  @include mq("desktop") {
    font-size: 24px;
    line-height: 38px;
  }
  @include mq("desktop-ultra") {
    font-size: 26px;
    line-height: 42px;
  }
  @if $size == 1 {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: inherit;
    @include mq("tablet") {
      font-size: 24px;
      line-height: 32px;
    }
    @include mq("desktop") {
      font-size: 32px;
      line-height: 42px;
    }
    @include mq("desktop-ultra") {
      font-size: 37px;
      line-height: 52px;
    }
  }
  @if $size == 2 {
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    line-height: 27px;
    letter-spacing: inherit;
    @include mq("tablet") {
      font-size: 22px;
      line-height: 28px;
    }
    @include mq("desktop") {
      font-size: 28px;
      line-height: 36px;
    }
    @include mq("desktop-ultra") {
      font-size: 34px;
      line-height: 45px;
    }
  }
  @if $size == 4 {
    font-weight: 400;
  }
  @if $size == 5 {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: inherit;
    font-weight: 700;
    text-transform: uppercase;
    @include mq("tablet") {
      font-size: 16px;
      line-height: 20px;
    }
    @include mq("desktop") {
      font-size: 20px;
      line-height: 28px;
    }
    @include mq("desktop-ultra") {
      font-size: 23px;
      line-height: 32px;
    }
  }
  @if $size == 6 {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: inherit;
    font-weight: 400;
    @include mq("tablet") {
      font-size: 16px;
      line-height: 20px;
    }
    @include mq("desktop") {
      font-size: 20px;
      line-height: 28px;
    }
    @include mq("desktop-ultra") {
      font-size: 23px;
      line-height: 30px;
    }
  }
}
@mixin captionText($size: normal) {
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
  @include mq("tablet") {
    font-size: 14px;
    line-height: 20px;
  }
  @include mq("desktop") {
    font-size: 16px;
    line-height: 20px;
  }

  @if $size == large {
    font-size: 15px;
    line-height: 22px;
    @include mq("tablet") {
      font-size: 18px;
      line-height: 24px;
    }
    @include mq("desktop") {
      font-size: 20px;
      line-height: 28px;
    }
    @include mq("desktop-ultra") {
      font-size: 25px;
      line-height: 30px;
    }
  }
}
@mixin buttonText {
  font-size: 12px;
  line-height: 25px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  @include mq("tablet") {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.5px;
  }
}

@mixin text-opacity() {
  &:hover {
    opacity: 0.7;
    transition: all ease-in-out 0.3s;
  }
}
@mixin text-transition($dir: "y") {
  @if ($dir == "y") {
    transition: transform 0.5s cubic-bezier(0.405, 0.005, 0, 1);
    transform: translateY(110%) translateZ(0);
    opacity: 0;
  }
}
@mixin text-transition-effect($dir: "y") {
  @if ($dir == "y") {
    transform: translateY(0) translateZ(0);
    transition: transform 1.5s cubic-bezier(0.405, 0.005, 0, 1);
    opacity: 1;
    transition-delay: 0.15s;
  }
}
@mixin pseudo-elements() {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
