.hero-video {
  position: relative;
  .embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    @include mq("desktop") {
      padding-bottom: 80vh;
    }
    iframe,
    object,
    embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
      pointer-events: none;
      z-index: 10;
    }
  }
  .wp-video {
    width: 100% !important;
  }
  video {
    @include mq("desktop") {
      position: absolute;
      width: 100% !important;
      height: 100% !important;
      object-fit: cover;
    }
  }
  .mejs-container {
    width: 100% !important;
    height: 56.25vw !important;
    .mejs-controls {
      display: none;
    }
  }
  .video-controls {
    .btn-play {
      position: absolute;
      top: 50%;
      left: 50%;
      background: #0000;
      border: none;
      transform: translate(-50%, -50%);
    }
    .btn-sound {
      display: block;
      position: absolute;
      padding: 0;
      width: 40px;
      height: 40px;
      right: 40px;
      bottom: 40px;
      z-index: 30;
      @include mq("tablet") {
        right: 50px;
        bottom: 50px;
      }
      @include mq("desktop") {
        right: 80px;
        bottom: 80px;
      }
      @include mq("desktop-ultra") {
        right: 120px;
        bottom: 120px;
      }
      @include mq("tablet") {
        width: 50px;
        height: 50px;
      }
      @include mq("desktop") {
        width: 80px;
        height: 80px;
      }
      @include mq("desktop-ultra") {
        width: 105px;
        height: 105px;
      }
      background-color: transparent;
      border: none;
      border-radius: 50%;
    }
    .btn-mute {
      display: none;
    }
    &.active {
      .btn-unmute {
        display: none;
      }
      .btn-mute {
        display: block;
      }
    }
  }
}
