.support-module {
  padding: 25px 0;
  display: flex;
  align-items: flex-start;
  max-width: 90%;
  margin-left: auto;
  @include mq("tablet") {
    padding: 40px 0;
    max-width: 100%;
  }
  @include mq("desktop") {
    padding: 60px 0;
  }
  &__left {
    h5 {
      margin-bottom: 8px;
      @include mq("desktop") {
        margin-bottom: 24px;
      }
    }
    p {
      margin-bottom: 30px;
      @include mq("desktop") {
        margin-bottom: 57px;
      }
    }
    .image-module {
      margin-bottom: 30px;
      @include mq("tablet") {
        display: none;
      }
    }
  }
  &__right {
    display: none;
    flex-shrink: 0;
    width: 100%;
    @include mq("tablet") {
      display: block;
      margin-left: 20px;
      max-width: 50%;
    }
    @include mq("desktop") {
      margin-left: 40px;
      max-width: 700px;
    }
    @include mq("desktop-ultra") {
      margin-left: 80px;
      max-width: 920px;
    }
  }
}
