.text-cta-module {
  padding: 75px 0;
  @include mq("desktop") {
    padding: 179px 0 204px;
  }
  &.half {
    .container {
      h3,
      hr,
      .cta-text__wrapper {
        width: 56%;
        @include mq("tablet", "max") {
          width: 75%;
          margin-left: auto;
        }
      }
      .cta-text__wrapper {
        flex-direction: column;
      }
      .cta-text {
        margin-bottom: 10px;
        margin-left: 0;
        @include mq("tablet") {
          margin-bottom: 20px;
        }
        @include mq("desktop") {
          margin-bottom: 30px;
        }
        @include mq("desktop-ultra") {
          margin-bottom: 40px;
        }
      }
      .btn-cta {
        order: 1;
      }
    }
  }
  .content {
    width: 90%;
    margin-left: auto;
    @include mq("tablet") {
      width: 100%;
    }
  }
  hr {
    margin: 30px 0;
    border: none;
    border-top: 1px solid $secondary;
    @include mq("tablet") {
      margin: 60px 0;
    }
  }
  .cta-text__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include mq("tablet") {
      flex-direction: row;
    }
  }
  .btn-cta {
    margin-top: 20px;
    flex-shrink: 0;
    order: 1;
    @include mq("tablet") {
      margin-top: 0;
      order: 0;
    }
  }
  .cta-text {
    @include bodyText(4);
    @include mq("tablet") {
      margin-left: 60px;
    }
    @include mq("desktop-ultra") {
      margin-left: 133px;
    }
  }
}
