.page-template-home {
  .hero {
    height: auto;
    .btn-scroll-link {
      svg {
        max-height: 30px;
        @include mq("tablet") {
          max-height: none;
        }
      }
    }
  }
  #hearts {
    .text-cta-module {
      @include mq("tablet", "max") {
        padding-top: 50px;
      }
    }
  }

  #news {
    margin: 76px 0;
    @include mq("tablet") {
      margin: 100px 0;
    }
    @include mq("desktop") {
      margin: 200px 0;
    }
    @include mq("desktop-ultra") {
      margin: 240px 0;
    }
    h3 {
      margin-bottom: 23px;
      @include mq("tablet") {
        margin-bottom: 50px;
      }
      @include mq("desktop") {
        margin-bottom: 92px;
      }
    }
    .news-title svg {
      @include mq("tablet") {
        margin-top: 10px;
      }
    }
    .news-excerpt {
      display: none;
    }
    .news-link__wrapper {
      hr {
        margin: 0 0 24px;
        border: 0;
        border-top: 1px solid $secondary;
        @include mq("tablet") {
          margin-bottom: 35px;
        }
        @include mq("desktop") {
          margin-bottom: 50px;
        }
        @include mq("desktop-ultra") {
          margin-bottom: 60px;
        }
      }
    }
  }
}
