.page-template-single-initiative {
  #our-values {
    margin-bottom: 70px;
    @include mq("tablet") {
      margin-bottom: 100px;
    }
    @include mq("desktop") {
      margin-bottom: 150px;
    }
    @include mq("desktop-ultra") {
      margin-bottom: 200px;
    }
  }
  #our-values,
  #news {
    h3 {
      margin-bottom: 30px;
      @include mq("tablet") {
        margin-bottom: 50px;
      }
      @include mq("desktop") {
        margin-bottom: 80px;
      }
      @include mq("desktop-ultra") {
        margin-bottom: 108px;
      }
    }
  }
}
